<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="layout::header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <title>Clinical AI Collaboration</title>

</head>
<body>
<nav th:replace ="layout::sharednav"></nav>
<div class="d-flex justify-content-center align-items-center container custom-style">
    <div class="row ">

        <form action="">
            <div class="form-group">
                <label for="inputUserName" class="control-label">Enter Course Name</label>
                <input type="input" class="form-control" id="inputUserName" aria-labelledby="emailnotification">

            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>


        </form>
    </div>
</div>
</body>



</html>