<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <title>Clinical AI Collaboration</title>

</head>
<body>
<nav th:replace="layout::sharednav"></nav>
<div id="video-controls" class="controls" data-state="hidden">
    <button id="playpause" type="button" data-state="play">Play/Pause</button>
    <button id="stop" type="button" data-state="stop">Stop</button>
    <div class="progress">
        <progress id="progress" value="0" min="0">
            <span id="progress-bar"></span>
        </progress>
    </div>
    <button id="mute" type="button" data-state="mute">Mute/Unmute</button>
    <button id="volinc" type="button" data-state="volup">Vol+</button>
    <button id="voldec" type="button" data-state="voldown">Vol-</button>
    <button id="fs" type="button" data-state="go-fullscreen">Fullscreen</button>
</div>
</body>


</html>