<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header">
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<nav th:replace="layout::sharednav"></nav>
<div class="d-flex justify-content-center align-items-center container custom-style">
    <div class="row ">

        <form action="/registercandidate" method="post" th:object="${candidate}">

            <div class="form-group">
                <p>Already have an account ? <a href="/login">Login</a></p>

            </div>


            <div class="form-group">
                <label for="fullName" class="control-label">Full Name</label>
                <input type="input" class="form-control" id="fullName" name="fullName"
                       aria-labelledby="emailnotification" th:field="*{fullName}">

            </div>

            <div class="form-group">
                <label for="userName" class="control-label">User Name</label>
                <input type="input" class="form-control" id="userName" name="userName"
                       aria-labelledby="emailnotification" th:field="*{userName}">

            </div>

            <div class="form-group">
                <label for="password" class="control-label">Enter Password</label>
                <input type="password" class="form-control" id="password" name="password"
                       aria-labelledby="passwordnotification" th:field="*{password}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        </form>
    </div>
</div>

</body>
</html>